### style
    <style type="text/css">
        .wrapper { margin: 10vh auto; width: 60vw; }
        .canvas-wrapper { color: gray; margin-bottom: 3px; }
        .set {
          margin-left: 4vw;
          cursor: pointer;
        }
        .set#set_1 {
          margin-left: 0;
        }
    </style>
### fontStyle
    1.9vw monospace
### content
    <div class="wrapper">
      <table>
        <tr>
          <td id="part_1">
            var <b>favsStream</b> = <b>window.appBus</b><br/>
            &nbsp;&nbsp;.filter(v => v.from === 'favorites')<br/>
            &nbsp;&nbsp;.filter(v => v.tell === <b>'favsUpdate'</b>)<br/>
            &nbsp;&nbsp;.pluck('data')<br/>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div style="color: gray; text-align: right;">
              // == <div class="canvas-wrapper"><canvas id="favsStream" width="400" height="50"></canvas></div>
            </div>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td id="part_2">
            var <b>singleStream</b> = favsStream<br/>
            &nbsp;&nbsp;.map(favs => favs.has(id))<br/>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div style="color: gray; text-align: right;">
              // == <div class="canvas-wrapper"><canvas id="singleStream" width="400" height="50"></canvas></div>
            </div>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td id="part_3">
            var <b>countStream</b> = favsStream<wbr/>.pluck('size')<br/>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div style="color: gray; text-align: right;">
              // == <div class="canvas-wrapper"><canvas id="countStream" width="400" height="50"></canvas></div>
            </div>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td colspan="2">
            <b id="set_1" class="set">Set(1)</b>
            <b id="set_1_3" class="set">Set(1, 3)</b>
            <b id="set_1_3_4" class="set">Set(1, 3, 4)</b>
            <b id="set_1_4" class="set">Set(1, 4)</b>
          </td>
        </tr>
      </table>
    </div>
