### style
    <style type="text/css">
      .wrapper {
        margin: 15vh auto 0;
        text-align: center;
      }
      p { margin: 2vh; }
    </style>
### fontStyle
    5vw monospace
### content
    <div class="wrapper">
        <p style="font-size: 10vh; margin-bottom: 10vh">thanks</p>
        <p><a href="http://reactivex.io">reactivex.io</a></p>
        <p><a href="http://rxmarbles.com">rxmarbles.com</a></p>
        <p>
            <a href="http://baconjs.github.io">bacon.js</a> /
            <a href="https://rpominov.github.io/kefir/">kefir.js</a> /
            <a href="https://github.com/paldepind/flyd">flyd</a>
        </p>
        <p style="margin-top: 20vh"><a href="http://anton.codes/rxlides">anton.codes/rxlides</a></p>
    </div>
