### style
    <style type="text/css">
      .wrapper {
        margin: 30vh auto;
        text-align: center;
      }
      .center-text {
        background-color: #DFFEE3;
        padding: 1vh;
      }
      .subtitle {
        font-size: 2vw;
        width: 60vw;
        text-align: right;
        margin-top: 10vw;
        color: gray;
      }
    </style>
### fontStyle
    6vw monospace
### content
    <div class="wrapper">
        <div class="center-text">MV*</div>
        <div class="subtitle">* — wtf</div>
    </div>
