### style
    <style type="text/css">
      .wrapper {
        margin: 23vh auto;
        text-align: center;
      }
      .wrapper span.xhr {
        background-color: #DFFEE3;
        padding: 1vh;
      }
      table {
        z-index: -1;
        width: 10vh;
        margin: 0 auto;
        margin-bottom: -28vh;
      }
      td {
        padding: 12vh;
      }
    </style>
### content
<body style="font: 3.5vw monospace;">
    <div class="wrapper">
        <table>
          <tr>
            <td style="background-color: #FF5428;"></td>
            <td style="background-color: #74BA2A;"></td>
          </tr>
          <tr>
            <td style="background-color: #00A1ED;"></td>
            <td style="background-color: #FAB731;"></td>
          </tr>
        </table>
        <span class="xhr">XHR</span>
    </div>
