### style
    <style type="text/css">
        .wrapper {
          margin: 35vh auto;
          text-align: center;
        }
        p { margin: 0; }
    </style>
### fontStyle
    2vw monospace
### content
    <div class="wrapper">
        <p style="font-size: 5vw">Promises</p>
        <p>
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise">ES6 built-in</a>
            /
            <a href="http://documentup.com/kriskowal/q/">Q</a>
            /
            <a href="https://github.com/calvinmetcalf/lie">lie</a>
        </p>
    </div>
