    <style type="text/css">
      .wrapper {
        margin: 22vh auto;
      }
      table { width: 70vw; margin: 0 auto; font-size: 3vw; color: #00A500; }
      td.colored {
        color: #DFFEE3;
        border-radius: 1vw;
        background-color: #00A500;
        padding: 2vw;
      }
    </style>
###
<body style="font: 2vw monospace;">
    <div class="wrapper">
        <table>
            <tr>
                <td style="color: black;" rowspan="4">
                        <div style="padding-top: 2vw">
                        Promise(onclick)<br/>
                        </div>
                        <div style="padding-top: 2vw">
                        &nbsp;&nbsp;.then(click => {<br/>
                        </div>
                        <div style="padding-top: 2vw">
                        &nbsp;&nbsp;&nbsp;&nbsp;return Promise(xhr)<br/>
                        </div>
                        <div style="padding-top: 2vw">
                        &nbsp;&nbsp;}).then(resp => {})
                        </div>
                </td>
                <td>&rarr;</td>
                <td class="colored">click</td>
            </tr>
            <tr>
                <td>&darr;</td>
                <td>.then</td>
            </tr>
            <tr>
                <td>&rarr;</td>
                <td class="colored">xhr</td>
            </tr>
            <tr><td>&darr;</td><td>.then</td></tr>
            <tr>
                <td align="right" style="font-size: 1.8vw; color: gray" colspan="2">
                    * pseudo promises
                </td>
            </tr>
        </table>
    </div>
