    <style type="text/css">
      .wrapper {
        margin: 30vh auto;
        text-align: center;
      }
      .spaced {margin-top: 5vh}
    </style>
###
<body style="font: 4.5vh monospace;">
    <div class="wrapper">
        <div class="spaced" id="main">
            var stream =
            <div class="canvas-wrapper"><canvas width="400" height="50"></canvas></div>
        </div>
        <div class="spaced" id="part_0" hidden>
            stream.map(v => v + 10) ==
            <div class="canvas-wrapper"><canvas width="400" height="50"></canvas></div>
        </div>
        <div class="spaced" id="part_1" hidden>
            messages-based architecture
        </div>
    </div>

